.exit {
    z-index: 3;
    width: 100px;
    height: 53px;
    border-radius: 16px;
    position: fixed;
    left: 97%;
    transform: translateX(-50%);
    top: 8%;
    background-color: #fff;
    opacity: 100%;
    border: 1px solid #024A68;
    display: flex;
    flex-direction: column;
}

.exitClose {
    background: url("../../img/close.png") no-repeat;
        background-size: cover;
        width: 15px;
        height: 15px;
        border: none;
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
}

.link {
    text-align: right;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}